/*  GENERAL */
img {
  width: 100%;
}


/*  FIRST SEGMENT */

nav {
  margin-top: 1rem;
  margin-bottom: 3px;
  font-size: 0.9rem;
  color: #cccccc;
}
ul>li>a, nav {
  height: 4.5rem;
}
.logo {
  width: 8rem;
  margin-left: 3rem;
}
.img-icon-social {
  margin-top: 0.4rem;
  height: 0.8rem;
  margin-right: 0.5rem;
}
.container-social{
  height: 2.5rem;
  border-left: 2px solid #cccccc;
  padding-left: 1rem;
}
.img-icon-social>img {
  height: inherit;
  width: auto;
}
ul>li:hover{
  border-bottom: 3px solid #876ff5;
  color: #876ff5;
}

header {
  background-image: url('../img/header-bg.png');
  margin-bottom: 1rem;
  padding: 3rem 0;
}

/*  SECOND SEGMENT */
.text-service {
  font-size: 0.6rem;
  text-align: center;
  color: #555555;
  margin-top: 0.5rem;
}
.service > div{
  margin-top: 3rem;
}
.service h4{
  color: #555555;
}
h4>span{
  font-size: 0.5rem;
}
.service {
  margin: 3rem auto;
}
/*  THIRD SEGMENT */
.success-stories {
  background-image: url('../img/success-bg.png');
  padding-top: 3rem;
}
.success-stories>div>.btn{
  margin-top: 6rem;

  width: 100%;
}
/*  FOURTH SEGMENT */

/*  FIFTH SEGMENT */

/*  SIXTH SEGMENT */

/*  SEVENTH SEGMENT */

/*  EIGHTH SEGMENT */

/*  NINETH SEGMENT */


/*  TENTH SEGMENT */

/*  MIX SEGMENT */

header, .success-stories, .erp{
  height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header, .success-stories, .bg-orange, .erp {
  color: #ffffff;
}
.bg-orange {
  background-color: #ff7400;
}
.font-orange {
  color: #ff7400;
}
.row.mx-auto>div {
  margin: 15px auto;
}

h4, nav {
  font-family: Poppins
}
h4{
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
}
