/*  GENERAL */
* {
  box-sizing: border-box;
}
body {
  padding-top: 5rem;
}


/*  FIRST SEGMENT */

nav {
  background-color: #ffffff;
  font-size: 0.9rem;
  color: #cccccc;
}
.box-social {
  border-left: 1px solid #555;
}

.container-nav {
  height: 5rem;
}
ul>li:hover {
  border-bottom: 3px inset #876ff5;
  color: #876ff5;
}
.container-social{
  height: 2.5rem;
  border-left: 2px solid #cccccc;
  padding-left: 1rem;
}


header {
  background-image: url('../img/header-bg.png');
  margin-bottom: 1rem;
  padding: 3rem 0;
  text-align: center;
}
header h1 {
  text-align: center;
  margin: 0 auto;
}

header hr{
  border: 1px solid #fff;
  width: 40%;
  margin: -2rem auto 0 auto;
  padding: 0;
}
header article {
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  margin-top: -3rem;
}
/*  SECOND SEGMENT */

.text-service {
  font-size: 0.6rem;
  text-align: center;
  color: #555555;
  margin-top: 0.5rem;
}
.service h4 {
  color: #555555;
}
.service-item > div {
  width: 6rem;
  margin: 2rem 3rem;
}
h4>span {
  font-size: 0.5rem;
}
.service {
  margin: 3rem auto;
}
/*  THIRD SEGMENT */
.success-stories {
  text-align: center;
  background-image: url('../img/success-bg.png');
  padding-top: 3rem;
}
.success-stories>div>.btn {
  margin-top: 6rem;
  width: 100%;
}
/*  FOURTH SEGMENT */
.number {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 0.8rem;
  color: #777777;
}
.number>.img {
  margin-left: 3rem;
}
.number h3 {
  font-size: 1.6rem;
  letter-spacing: 10px;
  border-bottom: 1px solid #ff7400;
  height: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.number>.text {
  margin: auto auto auto 2rem;
}
.text div {
  font-size: 0.9rem;
}
/*  FIFTH SEGMENT */

.tape {
  padding: 2rem 0;
  font-family: ;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.tape>div {
  padding: 0 1rem;
}
.tape h3 {
  font-size: 1.5rem;
}
.tape div div {
  font-size: 0.8rem;
  padding: auto 1rem;
  letter-spacing: 2px;
  font-weight: 100;
  font
}
.tape div span {
  font-size: 0.4rem;
}

/*  SIXTH SEGMENT */
.b2b {
  color: #aaa;
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
}
.b2b > div:first-child {
  padding-right: 2rem;
  box-sizing: border-box;
}
.b2b > div:nth-child(2) {
  padding-top: 2rem;

}
h2{
  font-size: 5rem;
  font-family: Poppins;
  margin: -2rem 0 3rem 0;
  padding-left: 1rem;
}
.b2b p {
  font-size: 1.2rem;
}
.b2b-item > div{
  display: flex;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}
.b2b-item div span {
  font-weight: 900;
  margin-right: 0.5rem;
}
/*  SEVENTH SEGMENT */
.b2b-success {
  font-size: 2.5rem;
  font-family: Montserrat;
  text-align: center;
  padding: 2rem;
}
.b2b hr{
  border-color: #ff7400;
  width: 60%;
}
/*  EIGHTH SEGMENT */
.erp-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 15%;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
.erp-title {
  font-size: 3rem;
  font-family: 'Varela Round', sans-serif;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.8rem;
}
/*  NINETH SEGMENT */
  .contact-us {
    background-color: #f5f6f5;
    color: #777;
    font-size: 0.8rem;
    padding-left: 3rem;
  }
  .contact-us hr {
    border: 1px solid #555;
    text-align: left;
    width: 40%;
    margin: 0.4rem 0;
  }
  .form-group div:first-child {
    padding-right: 0.5rem;
  }
  .contact-us form hr{
    width: 3rem;
    margin: 1rem 0;
  }
  .contact-us .img {
    height: 20px;
    width: 20px;
  }
  .contact-us .img > img {
    width: 100%;
  }
  input[type="submit"] {
    background-color: #f5f6f5;
  }
  input[type="submit"]:hover {
    background-color: #ffffff;
  }
  .message {
    display: flex;
    text-align: center;
    width: 11rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    padding: 0rem;
    position: absolute;
    bottom: 0rem;
    right: 1rem;
  }
.message > .text {
  padding: 0.1rem;
  background-color: #424bd8;
  width: 80%;
  height: 100%;
  border-radius: 0 4px 0 0;
  padding: 0.2rem;
}
.message > .icon {
  background-color: #876ff5;
  width: 20%;
  padding: 0.2rem;
    border-radius: 4px 0 0 0;
}
/*  TENTH SEGMENT */
footer {
  background-color: #000;
  font-size: 0.7rem;
  font-family: 'Varela Round', sans-serif
  height: 4rem;
  padding-top: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

.container-social-footer{
  height: 2.3rem;
  border-left: 1px solid #ffffff;
}
.img-icon-social {
  height: 10px;
}
.img-icon-social > img {
  width: 100%
}
/*  MIX SEGMENT */

header, .success-stories {
  height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section img, aside img, article img, section.service img {
  width: 100%;
}

header, .success-stories, .bg-orange, .erp {
  color: #ffffff;
}
.bg-orange {
  background-color: #ff7400;
}
.font-orange {
  color: #ff7400;
}
.row.mx-auto>div {
  margin: 15px auto;
}

h4, nav, h3 {
  font-family: Poppins
}
h4 {
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;
}

strong {
  font-weight: bolder;
}

@media (max-width: 575.98px) {
  /*  GENERAL */
    body { padding-top: 3rem; }


    /*  FIRST SEGMENT */

    nav {
      background-color: #ffffff;
      font-size: 0.9rem;
      color: #cccccc;
    }
    .container-nav {
      height: inherit;
    }
    .navbar-brand img {
      width: 3rem;
    }
    .box-social {
      border-left: 0px solid #555;
          justify-content: space-evenly;
    }
    .container-social{
      height: inherit;
      border-left: 0px solid #cccccc;
    }

    header h1 {
      font-size: 1rem;
    }
    header article {
      font-size: 0.7rem;
      margin: 1px;
    }
    header hr{
      border: 0px solid #fff;
      margin: 0;
      padding: 0;
    }
    header img {
      width: 40%;
    }

    /*  SECOND SEGMENT */
    .service {
        margin: 1rem auto;
    }
    .service-item > div {
      width: 4rem;
      margin: 0.5rem 0.5rem;
    }

    /*  THIRD SEGMENT */
    .success-stories {
      padding-top: 0.4rem;
      font-size: 0.6rem;
    }

    .success-stories>div>.btn {
      margin-top: 0.2rem;
    }

    /*  FOURTH SEGMENT */
    .number {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .number>.img {
      margin: 0.3rem auto;
    }
    .number h3 {
      font-size: 1.2rem;
      letter-spacing: 5px;
      border-bottom: 1px solid #ff7400;
      text-align: center;
      height: 2rem;
      margin-bottom: 0.3rem;
    }
    .number>.text {
      margin: auto;
    }
    .text div {
      font-size: 0.8rem;
    }

    /* FIFTH SEGMENT */
    .tape>div {
      padding: 0.4rem 1rem;
    }
    /*  SIXTH SEGMENT */
    .b2b {
      color: #aaa;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      margin-left: 0.3rem;
    }
    .b2b > div:nth-child(2) {
      padding-top: 0;

    }
    h2 {
      font-size: 3rem;
      margin: 0;
    }
    .b2b p {
      font-size: 0.8rem;
    }
    .b2b-item > div {
      font-size: 0.8rem;
      padding-bottom: 0.3rem;
      padding-top: 0.3rem;
    }
    .b2b-item div span {
      font-weight: 900;
      margin-right: 0.5rem;
    }

    /*  SEVENTH SEGMENT */
    .b2b-success {
      font-size: 1rem;
      padding: 1rem;
    }
    /*  EIGHTH SEGMENT */
    .erp-text {
      top:10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1rem;
      font-size: 0.55rem;
    }
    .erp-title {
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
    }

    /*  NINETH SEGMENT */
      .contact-us {
        padding-left: 0.4rem;
      }
      .form-group div:first-child {
        padding-right: 0;
      }
      .form-group > div {
        padding-right: 0.1rem;
      }
      .contact-us hr {
        border: 0px solid #555;
      }

    /* MIX SEGMENT */

    header, .success-stories {
      height: 13rem;
    }
    h4 {
      margin-bottom: 0;
      padding-bottom: 0.2rem;
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  header article {
    font-size: 1rem;
    margin: 1px;
  }

  /*  SECOND SEGMENT */
  .service-item > div {
    width: 6rem;
    margin: 1rem 1rem;
  }
  /*  THIRD SEGMENT */
  .success-stories {
    padding-top: 0.4rem;
    font-size: 0.7rem;
  }

  .success-stories>div>.btn {
    margin-top: 0.2rem;
  }

  /* FIFTH SEGMENT */
  .tape>div {
    padding: 0.4rem 1rem;
  }

  /*  SIXTH SEGMENT */
  .b2b {
    color: #aaa;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
  }
  .b2b > div:nth-child(2) {
    padding-top: 0;

  }
  h2 {
    font-size: 3rem;
    margin: 0;
  }
  .b2b p {
    font-size: 0.8rem;
  }
  .b2b-item > div {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }
  .b2b-item div span {
    font-weight: 900;
    margin-right: 0.5rem;
  }

  /*  SEVENTH SEGMENT */
  .b2b-success {
    font-size: 1rem;
    padding: 1rem;
  }

  /*  EIGHTH SEGMENT */
  .erp-text {
    top:20%;
    padding: 0 15%;
    font-size: 1rem;
  }
  .erp-title {
    font-size: 2rem;
    margin-bottom: 0.2rem;
  }

  /*  NINETH SEGMENT*/

  .contact-us hr {
    border: 0px solid #555;
  }

  /* MIX SEGMENT */

  header, .success-stories {
    height: 15rem;
  }
  h4 {
    margin-bottom: 0;
    padding-bottom: 0.2rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /*  SECOND SEGMENT */
  .service-item > div {
    width: 6rem;
    margin: 3rem;
  }

  .number h3 {
    font-size: 1.4rem;
    letter-spacing: 9px;
  }

  /*  SIXTH SEGMENT */
  .b2b {
    color: #aaa;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
  }
  .b2b > div:nth-child(2) {
    padding-top: 0;

  }
  h2 {
    font-size: 3rem;
    margin: 0;
  }
  .b2b p {
    font-size: 0.8rem;
  }
  .b2b-item > div {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }
  .b2b-item div span {
    font-weight: 900;
    margin-right: 0.5rem;
  }
  /*  SEVENTH SEGMENT */
  .b2b-success {
    font-size: 1rem;
    padding: 1rem;
  }

  /*  EIGHTH SEGMENT */
  .erp-text {
    top: 30%;
    padding: 0 15%;
    font-size: 0.7rem;
  }
  .erp-title {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  /*  NINETH SEGMENT */
    .contact-us {
      padding-left: 2rem;
    }
    .form-group div:first-child {
      padding-right: 0.5rem;
    }
    .form-group > div {
      padding-right: 0.1rem;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .service-item > div {
    width: 10rem;
    margin: 1rem 4rem;
  }

  /*  EIGHTH SEGMENT */
  .erp-text {
    top: 30%;
    padding: 0 15%;
    font-size: 1rem;
  }
  .erp-title {
    font-size: 2rem;
    margin-bottom: 0.2rem;
  }
  /*  NINETH SEGMENT */
    .contact-us {
      padding-left: 2rem;
    }
    .form-group div:first-child {
      padding-right: 0.5rem;
    }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .service-item > div {
    width: 10rem;
    margin: 1rem 4rem;
  }

  /*  EIGHTH SEGMENT */
  .erp-text {
    top: 30%;
    padding: 0 15%;
    font-size: 1.3rem;
  }
  .erp-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  /*  NINETH SEGMENT */
    .contact-us {
      padding-left: 2rem;
    }
    .form-group div:first-child {
      padding-right: 0.5rem;
    }
}
